h1{
	color:rgb(238, 236, 99);
	font-size: 4rem;
	-webkit-text-stroke: 0.2rem black;
	text-align:center;
	font-family: Arial;
}

body {
	background-color: rgba(141, 10, 82, 0.651);
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	text-align: center;
	font-family: Arial;
	font-size: 1.5rem;
}

button {
	background-color: burlywood;
	width: 7rem;
	height: 2.2rem;
	font-family: Arial;
	font-size: 1rem;
	margin-bottom: 0.5rem;
	align-self: center;
}

#dif{
	background-color: rgba(166, 53, 115, 0.712);
	font-family: Arial;
	font-size: 1rem;
	margin-bottom: 1rem;
	margin-top: 0.5rem;
	width: 6rem;
	align-self: center;
}

#pairs{
	background-color: rgba(166, 53, 115, 0.712);
	font-family: Arial;
	font-size: 1rem;
	margin-bottom: 1rem;
	margin-top: 0.5rem;
	width: 6rem;
	align-self: center;
}